body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}

header {
    margin: 0;
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 8vh;
    background-image: url('https://365psd.ru/images/backgrounds/bg-dark-4827.png');
    display: flex;
    justify-content: center;
}

.silk_header {
    color: white;
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    padding-right: 20px;
}

main {
    text-align: center;
    padding-top: 15vh;
}

.flex {
    display: flex;
    margin-left: 15vw;
    margin-right: 10vw;
    padding-bottom: 5vh;
    border-bottom: 2px solid gray;
}

.big_text {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: left;
    border-bottom: 2px solid red;
}

.loremipsum {
    text-align: left;
    font-size: 20px;
    letter-spacing: 1px;
}

.text_left {
    padding-top: 5vh;
    padding-left: 3vw;
}

#artur_foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 4s;
    box-shadow: 0px 0px 50px 2px #000;
}

#artur_foto:hover {
    transform: rotate(540deg);
}

.img_right {
    padding-left: 12vw;
}

.logo_text {
    font-weight: bold;
    font-size: 60px;
    justify-content: center;
    line-height: 1px;
    font-stretch: 40%;
    letter-spacing: 3px;
    color: white;
}

.black_fon {
    background-image: url('https://365psd.ru/images/backgrounds/bg-dark-4827.png');
    padding: 30px;
}

.line_left {
    margin-top: 20px;
    margin-left: 8vw;
    text-align: left;
    color: wheat;
    padding-left: 20px;
    border-left: 3px solid wheat;
}

.line_right {
    margin-top: 30px;
    margin-right: 8vw;
    text-align: right;
    color: wheat;
    padding-right: 20px;
    border-right: 3px solid wheat;
}

.block-iq {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 150px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}

.black-block-iq {
    width: 100%;
    height: auto;
    color: white;
    border: 1px solid black;
    background-image: url('https://365psd.ru/images/backgrounds/bg-dark-4827.png');
}

.black-block-iq>p>span {
    font-size: 55px;
}

.white-block-iq {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.white-block-iq>p>span {
    font-size: 55px;
    font-weight: bold;
}

.center-text {
    margin-top: 150px;
    font-size: 55px;
    letter-spacing: 4px;
    text-decoration: underline overline gray 5px;
}

#index-audio {
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
}

.kvadrat-img-urod {
    transition: 1s;
}

.kvadrat-img-urod:hover {
    transform: scale(1.1);
}

.kvadrat-urodi {
    width: 280px;
    height: 280px;
    border-radius: 30px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}

.kvadrat-img-urod:hover {
    transform: scale(1.2);
}

.text-relativ {
    position: relative;
    top: -180px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    opacity: 0.7;
}

.middle-text {
    font-size: 50px;
}

#absolut-glav {
    position: absolute;
    top: 145px;
    left: 18.2%;
    border-radius: 50%;
    width: 705px;
    height: 705px;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flex-1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.rep-govno {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgb(255, 124, 146);
    box-shadow: 0px 0px 100px 2px rgb(255, 32, 69);
    margin: 5px;
    margin-left: 10px;
}

#audio-other {
    margin: 20px;
    width: 500px;
}

.reper {
    width: 300px;
    height: 150px;
    margin: 5px;
    margin-left: 10px;
}

.reper>p>span {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin: 10px;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 202, 102), 0 0 82px rgb(255, 202, 102), 0 0 92px rgb(255, 202, 102), 0 0 102px rgb(255, 202, 102), 0 0 151px rgb(255, 202, 102);
}

.reper>p {
    font-size: 20px;
    color: white;
}

.text-music {
    padding-top: 50px;
    text-align: left;
    padding-right: 50px;
    font-size: 20px;
}

.slava-foto {
    margin-top: 20px;
}

.text-music2 {
    padding-top: 50px;
    padding-left: 50px;
    text-align: right;
    font-size: 20px;
}

#legenda-foto {
    border-radius: 30px;
}

.text-legenda {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 50px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 0, 170), 0 0 82px rgb(255, 0, 170), 0 0 92px rgb(255, 0, 170), 0 0 102px rgb(255, 0, 170), 0 0 151px rgb(255, 0, 170);
}

.black_fon>p>span {
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

.black_fon>p {
    color: wheat;
    line-height: 25px;
}

#legenda-audio {
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 0;
}

.legenda-foto-mnogo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 2px rgb(204, 0, 136);
    margin-left: 50px;
    transition: 3s;
}

.legenda-foto-mnogo:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.foto-galere {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#line_bottom {
    border-bottom: 5px solid black;
    width: 90%;
    height: 50px;
    margin: 50px;
    opacity: 0.4;
}